<div class="head-area">
	<h1>Tule</h1>
	<p class="sub-title"> ～information shared～ </p>
</div>
	<div id="input-area">
		<textarea name="input_field" id="input-field" rows="11"></textarea>
	</div>
	<div id="memo-list"></div>