body {
  background-color: rgb(205, 205, 205);
  color: #333;
  font-size: 13px;
  line-height: 18px;
  font-family: 'Kite One', "Rounded Mplus 1c";
}

input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
}


.head-area h1{
    font-size: 2rem;
    text-align: center;
    color: #f7f7f7;
    font-weight: bolder;
    text-shadow: 2px 2px 0px #868686;
    width: 15%;
    margin: 15px auto 0 auto;
}

.head-area{
    background-color: #6ac777;
    padding: 3px;
    border-radius: 55px;
    box-shadow: 0px 3px 0px 2px #939393;
    width: 26em;
    margin: 15px 0;
}

.sub-title{
    text-align: center;
    margin: 15px 0 15px 0;
    font-size: 1.5rem;
    text-shadow: 2px 2px 0px #9e9e9e;
    color: #eaffdb;
}

#category-select {
    display: none;
    position: fixed;
    width: 90vw;
    background-color: #505050;
    bottom: 25vh;
    right: 5vw;
    padding: 1vw;
    box-shadow: 0px 0px 10px 2px #686868;
    z-index: 1;
}

#category-select div{
    margin-bottom: 8px;
    height: 8vh;
    cursor: pointer;
    font-size: 1.2em;
    width: 90%;
    margin: 1.2vh auto;
}

#category-select p {
    margin: 1vh 0 4vh 0;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
}

#category-select .tape{
    position: absolute;
    width: 90%;
    height: 6vh;
    border-left:2px dotted rgba(0,0,0,0.1);
    border-right:2px dotted rgba(0,0,0,0.1);
    font-size: 1.3em;
    text-align: center;
}

#input-field {
	font-size: 20px;
	background-color: rgb(255, 255, 255);
	width: 100%;
	box-shadow: 1px 3px 2px 0px rgb(155, 155, 155);
	z-index: 2;
}

.function-btn {
    cursor: pointer;
    position: fixed;
    transition: all 0.5s 0s ease;
    width: 8vw;
    padding: 12px 15px;
    border-radius: 60px;
}

.function-btn img {
    width: 100%;
}

.garbage-show {
    right: 2vw;
    bottom: 23vh;
}

.category-select-show {
    right: 2vw;
    bottom: 12vh;
}

.input-show {
    right: 2vw;
    bottom: 1vh;
}

.close{
    -webkit-transform:rotate(0deg);
    background-color: #50af50;
}

.open{
    -webkit-transform:rotate(-45deg);
    background-color: #ff0000;
}

#input-area {
    display: none;
    position: fixed;
    bottom: 25vh;
    left: 5vw;
    padding-bottom: 15px;
    text-align: center;
    width: 90vw;
    background-color: #9bd8a3;
    box-shadow: 0px 0px 5px 1px #4c4c4c;
}

#input-area textarea{
    font-size: 14px;
}

#input-area .cloumn-name {
    font-size: 1.3em;
    color: #fff;
    text-shadow: 0px 1px 1px #000000;
    display: block;
    margin: 2vh 0 0.8vh 0;
}

#input-area #post_category {
    display: block;
    margin: 0.5vh auto;
    padding: 2px;
    font-family: 'Kite One', "Rounded Mplus 1c";
    font-size: 1.3em;
}

#memo-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 10vh;
}

.memo {
	width: 18em;
	height: 18em;
	background-color: rgb(252, 252, 252);
	margin: 50px 20px;
	padding: 10px;
	font-size: 1rem;
	box-shadow: 0px 3px 3px 2px rgba(80, 80, 80, 0.14901960784313725);
	border-radius: 0 0 5px 0;
	position: relative;
	line-height: 1.5;
}

.memo .inner {
    height: 100%;
    overflow: auto;
}

.all .tape{
	background-color: rgba(255, 221, 0, 0.61);
}

.category0 .tape{
    background-color: rgba(255, 255, 255, 0.57);
}

.category1 .tape{
    background-color: rgba(250, 7, 7, 0.4);
}

.category2 .tape{
    background-color: rgba(78, 250, 7, 0.32);
}

.category3 .tape{
    background-color: rgba(7, 183, 250, 0.4);
}

.memo .tape{
    border-left:2px dotted rgba(0,0,0,0.1);
    border-right:2px dotted rgba(0,0,0,0.1);
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    width:150px;
    height:28px;
    position:absolute;
    top:-1em;
    left:5em;
}

.memo p {
	word-wrap: break-word;
}

.memo img {
	position: absolute;
	top: 2px;
	right: 5px;
	width: 17%;
}

.select {
	background-color: #878787;
}

.destroy-btn {
    display: none;
    position: absolute;
    right: 1vw;
    top: 3vh;
    background-color: #e03838;
    padding: 5px 10px;
    text-align: center;
    animation: pulse 0.2s infinite;
}

.destroy-btn:hover {
    animation-play-state: paused;
}

@keyframes pulse {
  0% {
      transform:rotate(0deg);
  }
  10%{
      transform:rotate(3deg);
  }
  25%{
      transform:rotate(5deg);
  }
  50%{
      transform:rotate(0deg);
  }
  75%{
      transform:rotate(5deg);
  }
  90%{
      transform:rotate(3deg);
  }
  100%{
      transform:rotate(0deg);
  }
}

@keyframes zoom {
    0%{
        transform: scale(1);
        top:0vh;
        left: 100vw;
    }
    /*10%{*/
    /*    transform: scale(2);*/
    /*    top:10vh;*/
    /*    left: 90vw;*/
    /*}*/
    /*20%{*/
    /*    transform: scale(3);*/
    /*    top:20vh;*/
    /*    left: 80vw;*/
    /*}*/
    /*30%{*/
    /*    transform: scale(4);*/
    /*    top:30vh;*/
    /*    left: 70vw;*/
    /*}*/
    /*40%{*/
    /*    transform: scale(5);*/
    /*    top:40vh;*/
    /*    left: 60vw;*/
    /*}*/
    /*50%{*/
    /*    transform: scale(6);*/
    /*    top:50vh;*/
    /*    left: 50vw;*/
    /*}*/
    /*60%{*/
    /*    transform: scale(7);*/
    /*    top:60vh;*/
    /*    left: 40vw;*/
    /*}*/
    /*70%{*/
    /*    transform: scale(8);*/
    /*    top:70vh;*/
    /*    left: 30vw;*/
    /*}*/
    /*80%{*/
    /*    transform: scale(9);*/
    /*    top:80vh;*/
    /*    left: 20vw;*/
    /*}*/
    /*90%{*/
    /*    transform: scale(10);*/
    /*    top:90vh;*/
    /*    left: 10vw;*/
    /*}*/
    100%{
        transform: scale(11);
        top:120vh;
        left: -30vw;
    }
}

.destroy-btn a {
    color: #fff;
    text-decoration:  none;
}

.actions {
    text-align: right;
    padding-right: 4vw;
}

.actions input{
    cursor: pointer;
    width: 60px;
    color: #fff;
    font-size: 1.5em;
    background-color: #4CAF50;
    border: unset;
    font-family: 'Kite One', "Rounded Mplus 1c";
}

@media screen and (min-width: 750px)  {
    
    .input-show {
        width: 5vh;
    }
    
    .category-select-show {
        width: 5vh;
    }

    .garbage-show {
        width: 5vh;
    }
    
    #input-area {
        bottom: 5vh;
	    left: 35vw;
        width: 30vw;
    }
    
    #input-area textarea{
        font-size: 15px;
    }

    #category-select {
        position: fixed;
        width: 20vw;
        top: 1vh;
        bottom: unset;
        right: 1vw;
        padding: 1vw;
    }
    
    #category-select div{
        margin-bottom: 8px;
        height: 5vh;
    }
    
    #category-select p {
        margin: 0 0 1vh 0;
    }
    
    #category-select .tape{
        width: 18vw;
        height: 4vh;
    }
}
