body {
  background-color: rgb(205, 205, 205);
  color: #333;
  font-size: 13px;
  line-height: 18px;
  font-family: 'Kite One', "Rounded Mplus 1c";
}

.head-area h1{
    font-size: 2rem;
    text-align: center;
    color: #f7f7f7;
    font-weight: bolder;
    text-shadow: 2px 2px 0px #bbb7b7;
    width: 15%;
    margin: 15px auto 0 auto;
}

.head-area{
    background-color: #6ac777;
    padding: 3px;
    border-radius: 55px;
    box-shadow: 0px 3px 0px 2px #939393;
    width: 26em;
    margin: 15px 0;
}

.sub-title{
    text-align: center;
    margin: 15px 0 15px 0;
    font-size: 1.5rem;
    text-shadow: 2px 2px 0px #bbb7b7;
    color: #eaffdb;
}

#input-field {
	font-size: 20px;
	background-color: rgb(255, 255, 255);
	width: 100%;
	box-shadow: 1px 3px 2px 0px rgb(155, 155, 155);
	z-index: 2;
}

.input-show {
    cursor: pointer;
    position: fixed;
    right: 1vw;
    bottom: 1vh;
    vertical-align: middle;
}

.input-show p {
    background-color: #50af50;
    font-size: 2em;
    color: #fff;
    border-radius: 40px;
    text-align: center;
    margin: 0;
    padding: 20px;
}

#input-area {
    display: none;
	position: fixed;
	bottom: 1vh;
	left: 5vw;
	padding: 15px 0;
	text-align: center;
	width: 90vw;
	background-color: #9bd8a39e;
	box-shadow: 0px 0px 5px 1px #4c4c4c;
}

#input-area textarea{
    font-size: 14px;
}

@media screen and (min-width: 420px)  {
    
    #input-area {
        bottom: 5vh;
	    left: 35vw;
        width: 30vw;
    }
    
    #input-area textarea{
        font-size: 15px;
    }
}

#memo-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.memo {
	width: 18em;
	height: 18em;
	background-color: rgb(252, 252, 252);
	margin: 50px 20px;
	padding: 10px;
	font-size: 1rem;
	box-shadow: 0px 3px 3px 2px rgba(80, 80, 80, 0.14901960784313725);
	border-radius: 0 0 5px 0;
	position: relative;
	line-height: 1.5;
}

.memo .inner {
    height: 100%;
    overflow: auto;
}

.memo.category1 .tape{
    background-color: rgba(250, 7, 7, 0.4);
}

.memo.category2 .tape{
    background-color: rgba(43, 250, 7, 0.4);
}

.memo.category3 .tape{
    background-color: rgba(7, 215, 250, 0.4);
}

.memo .tape{
    background:rgba(255,255,255,0.4);
    border-left:2px dotted rgba(0,0,0,0.1);
    border-right:2px dotted rgba(0,0,0,0.1);
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    width:150px;
    height:28px;
    position:absolute;
    top:-1em;
    left:5em;
}

.memo p {
	word-wrap: break-word;
}

.memo img {
	position: absolute;
	top: 2px;
	right: 5px;
	width: 17%;
}

.select {
	background-color: #878787;
}

.destroy-btn {
    display: none;
    position: fixed;
    right: 1vw;
    top: 3vh;
    background-color: #e03838;
    padding: 5px 10px;
    text-align: center;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}

.destroy-btn a {
    color: #fff;
    text-decoration:  none;
}

.actions {
    text-align: right;
    padding-right: 4vw;
}

.actions input{
    cursor: pointer;
    width: 60px;
    color: #fff;
    font-size: 1.5em;
    background-color: #4CAF50;
    border: unset;
    font-family: 'Kite One', "Rounded Mplus 1c";
}