<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<style>
		@import url('https://fonts.googleapis.com/css?family=Joti+One|Kite+One|Raleway');
	</style>
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript">
		console.log("test");
		$(function(){
			console.log("test");
			$("#input-field").focus();
			var count = 0;
			$("#input-field").keypress(function(e){
				if (event.shiftKey){
					if(e.which == 13){
						count++;
						var inputStr = $(this).val();
						inputStr = inputStr.replace(/\r?\n/g, '<br>');
						var randnum = -5 + Math.floor( Math.random() * 10 );
						$("#memo-list").append("<div class='memo' id='memo"+ count +"' style='-webkit-transform:rotate(" + randnum + "deg);'><span class='tape'></span><p>"+ inputStr +"</p></div>");
						$(this).val("");
						return false;
					}
				}
			})

			$(document).on("mouseup",".memo",function(e){
				if(e.which == 1){
					if($(this).hasClass("select")){
						$(this).removeClass("select");
					}else{
						$(this).addClass("select");
					}
					return false;
				}
			})

			//右クリック押下時、選択中のメモを削除する
			$(document).on("mouseup",".memo",function(e){
				if(e.which == 3){
					$(".select").remove();
					return false;
				}
			})

			$(document).on("contextmenu",function(){
				return false;
			})
		})
	</script>
</head>
<body>

<%= yield %>

</body>
</html>
