<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<style>
		@import url('https://fonts.googleapis.com/css?family=Joti+One|Raleway');
	</style>
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript">
		console.log("test");
		$(function(){
			console.log("test");
			$("#input-field").focus();
			var count = 0;
			$("#input-field").keypress(function(e){
				if (event.shiftKey){
					if(e.which == 13){
						count++;
						var inputStr = $(this).val();
						inputStr = inputStr.replace(/\r?\n/g, '<br>');
						var randnum = -5 + Math.floor( Math.random() * 10 );
						$("#memo-list").append("<div class='memo' id='memo"+ count +"' style='-webkit-transform:rotate(" + randnum + "deg);'><span class='tape'></span><p>"+ inputStr +"</p></div>");
						$(this).val("");
						return false;
					}
				}
			})

			$(document).on("mouseup",".memo",function(e){
				if(e.which == 1){
					if($(this).hasClass("select")){
						$(this).removeClass("select");
					}else{
						$(this).addClass("select");
					}
					return false;
				}
			})

			//右クリック押下時、選択中のメモを削除する
			$(document).on("mouseup",".memo",function(e){
				if(e.which == 3){
					$(".select").remove();
					return false;
				}
			})

			$(document).on("contextmenu",function(){
				return false;
			})
		})
	</script>
	<style type="text/css">
		#input-field {
			font-size: 20px;
			background-color: rgb(255, 255, 159);
			border: 1px solid rgb(254, 254, 0);
			width: 100%;
			box-shadow: 2px 5px 2px 1px rgb(155, 155, 155);
			z-index: 2;
		}

		#input-area {
			width: 20%;
			position: fixed;
			bottom: 0;
			right: 0;
			padding: 15px;
			margin: 5px;
			text-align: center;
		}

		#memo-list {
			display: flex;
			flex-wrap: wrap;
			width: 80%;
			z-index: 1;
		}

		.memo {
			width: 420px;
			height: 500px;
			background-color: rgb(252, 252, 252);
			margin: 20px 10px;
			padding: 10px;
			font-size: 20px;
			box-shadow: 0px 3px 3px 2px rgba(80, 80, 80, 0.14901960784313725);
			border-radius: 0 0 5px 0;
			/*animation-name: stratch;*/
			/*animation-duration: 0.5s;*/
			position: relative;
		}

		.memo .tape{
		    background:rgba(255,255,255,0.4);
		    border-left:2px dotted rgba(0,0,0,0.1);
		    border-right:2px dotted rgba(0,0,0,0.1);
		    box-shadow:0 0 5px rgba(0,0,0,0.2);
		    width:85px;
		    height:28px;
		    position:absolute;
		    top:-13px;
		    left:175px;
		}

		.memo p {
			/*margin:0;*/
			font-weight: bold;
			word-wrap: break-word;
		}

		.memo img {
			position: absolute;
			top: 2px;
			right: 5px;
			width: 17%;
		}

		.select {
			background-color: #878787;
		}

		@keyframes stratch {
			0%{
				width: 450px;
				height: 230px;
				opacity: 0.5;
				transform: rotate(-3deg);
			}
			100%{
				width:420px;
				height: 200px;
				transform: rotate(0);
			}
		}
	</style>
</head>
<body>

<%= yield %>

</body>
</html>
